<%- include('header')  -%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    
  </style>
</head>
<body>

 
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block  sidebar">
        <div class="position-sticky">
          <div style="margin-left: 50px; margin-top: 30px;">
            <a href="#" class="list-group-item list-group-item-action"><b>Manage My Account</b></a>
            <ul class="pl-4">
                <li><a href="/profile" class="list-group-item list-group-item-action" style="list-style: none;">Profile</a></li>
                <li><a href="/address" class="list-group-item list-group-item-action">Address Book</a></li>
                <li><a href="/changepassword" class="list-group-item list-group-item-action">Change Password</a></li>
                <li><a href="/wallet" class="list-group-item list-group-item-action">Wallet</a></li>
                <li><a href="/coupons" class="list-group-item list-group-item-action">Coupons</a></li>
              </ul>
              <a href="" class="list-group-item list-group-item-action"><b>Orders</b></a><br>
              <ul class="pl-4">
                <li><a href="/orders" class="list-group-item list-group-item-action" style="list-style: none;"> My Orders</a></li>
                <li><a href="/returns" class="list-group-item list-group-item-action">Returns</a></li>
                <li><a href="/cancellations" class="list-group-item list-group-item-action">Cancellations</a></li>
              </ul>
              <a href="/cart" class="list-group-item list-group-item-action"><b>Cart</a></b><br>
              <a href="/wishlist" class="list-group-item list-group-item-action"><b>Wishlist</a></b><br>
              <a href="/logout" class="list-group-item list-group-item-action"><b>Logout</a></b><br>
            </div>
        </div>
      </nav>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

        <div class="container">
          <div class="row">
            <!-- Add Address Card -->
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body text-center">
                  <i class="fa fa-plus" id="addAddressIcon" aria-hidden="true" style="font-size: 117px;"></i><br>
                  <p class="card-link">Add Address</p>
                </div>
              </div>
            </div>

            

            <!-- Saved Addresses -->
            <!-- Addresses will be dynamically added here using JavaScript -->

            <% if (addresses && addresses.length> 0) { %>
              <% addresses.forEach(data=> { %>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <div class="card-body">

                      <h6 class="card-title ">
                        <%= data.name %>
                      </h6>
                      <h6 class="card-subtitle mb-2 ">
                        <%= data.addressline %>
                      </h6>
                    
                      <h6 class="card-subtitle mb-2 ">
                        <%= data.city %>
                      </h6>
                      <h6 class="card-subtitle mb-2">
                        <%= data.state %>
                      </h6>
                      <h6 class="card-subtitle mb-2 ">
                        <%= data.pincode %>
                      </h6>
                      <button class="btn btn-primary editAddressButton" id="editAddressBtn"
                        onclick="editAddress('<%= data._id %>')">Edit</button>
                      <button class="btn btn-danger" onclick="deleteAddress('<%= data._id %>')">Delete</button>
                    </div>
                  </div>
                </div>
                <% }) %>
                  <% } else { %>
                    <p class="col-md-12">No addresses found.</p>
                    <% } %>
          </div>
        </div>
       

              <!-- Modals -->
              <!-- Add new address modal -->
              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">

                  <div class="modal-content">

                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Add new address</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="addressForm" action="/addaddress" method="POST">
                      <div class="modal-body">
                        <div class="row mb-3">
                          <div class="col-md-12">
                            <label for="name" class="form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-12">
                            <label for="address" class="form-label">Address Line 1:</label>
                            <input type="text" class="form-control" id="address" name="addressline" placeholder="">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-12">
                            <label for="pincode" class="form-label">Pin Code</label>
                            <input type="text" class="form-control" id="pincode" name="pincode"
                              placeholder="Enter your pincode">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-12">
                            <label for="state" class="form-label">Street</label>
                            <input type="text" class="form-control" id="street" name="street"
                              placeholder="Enter Street name">
                          </div>
                        </div>

                        <div class="row mb-3">
                          <div class="col-md-12">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" id="city" name="city" placeholder="Enter City">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-12">
                            <label for="state" class="form-label">State</label>
                            <input type="text" class="form-control" id="state" name="state" placeholder="Enter State">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-12">
                            <label for="mobile" class="form-label">Mobile</label>
                            <input type="text" class="form-control" id="mobile" name="mobile"
                              placeholder="Enter your mobile number">
                          </div>
                        </div>

                        <div class="modal-footer">
                          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                          <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                      </div>
                  </div>
                </div>
                </form>
              </div>
    </div>
  </div>

  <!-- Edit Address Modal -->
  <div class="modal fade" id="editAddressModal" tabindex="-1" aria-labelledby="editAddressModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editAddressModal">Edit Address</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="editAddressForm" action="/editaddress" method="POST">

          <div class="modal-body">
            <div class="row mb-3">
              <div class="col-md-12">
                <label for="editName" class="form-label">Name:</label>
                <input type="text" class="form-control" id="editName" name="name" placeholder="">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <label for="editAddress" class="form-label">Address Line 1:</label>
                <input type="text" class="form-control" id="editAddress" name="addressline" placeholder="">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <label for="editPincode" class="form-label">Pin Code:</label>
                <input type="text" class="form-control" id="editPincode" name="pincode" placeholder="">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <label for="editStreet" class="form-label">Street:</label>
                <input type="text" class="form-control" id="editStreet" name="street" placeholder="">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <label for="editCity" class="form-label">City:</label>
                <input type="text" class="form-control" id="editCity" name="city" placeholder="">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <label for="editState" class="form-label">State:</label>
                <input type="text" class="form-control" id="editState" name="state" placeholder="">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <label for="editMobile" class="form-label">Mobile:</label>
                <input type="text" class="form-control" id="editMobile" name="mobile" placeholder="">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div style="height: 50px;"></div>
  <footer>
    <!-- Footer content here -->
  </footer>
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Additional Scripts -->
  <script>
    // Get the plus button element
    var addAddressButton = document.getElementById('addAddressIcon');

    // Get the modal element
    var addAddressModal = new bootstrap.Modal(document.getElementById('staticBackdrop'));

    // Add click event listener to the plus button
    addAddressButton.addEventListener('click', function () {
console.log("clikcddddddddd")
      addAddressModal.show();
    });

    // var editAddressButton = document.getElementById('editAddressBtn')
    document.querySelectorAll('.editAddressButton').forEach(btn => {
      btn.addEventListener('click', function () {
        var editAddressressModal = new bootstrap.Modal(document.getElementById('editAddressModal'));
        editAddressressModal.show();
      });
    });

    // Get the modal element

    //  editAddressButton.addEventListener('click',function(){
    //   editAddressressModal.show()
    //  })

    // Add click event listener to the plus button
    addAddressButton.addEventListener('click', function () {
      // Show the modal when the button is clicked
      console.log("clikcddddddddd")
      addAddressModal.show();
    });
    // Function to handle the click event on the edit button



    document.addEventListener('DOMContentLoaded', function () {
  // Add click event listener to all elements with class 'editButton'
  document.querySelectorAll('.editButton').forEach(button => {
    button.addEventListener('click', function (event) {
      event.preventDefault();
      var addressId = this.getAttribute('data-addressid');
      // Pass the addressId to the editAddress function
      editAddress(addressId);
    });
  });
});

function editAddress(addressId) {
  // Set the action attribute of the form dynamically
  document.getElementById('editAddressForm').action = `/editaddress/${addressId}`;
  
  fetch(`/getaddress/${addressId}`)
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(address => {
      // Populate the edit modal form fields with the retrieved address details
      document.getElementById('editName').value = address.userFirstAddress.name;
      document.getElementById('editAddress').value = address.userFirstAddress.addressline;
      document.getElementById('editPincode').value = address.userFirstAddress.pincode;
      document.getElementById('editStreet').value = address.userFirstAddress.street;
      document.getElementById('editCity').value = address.userFirstAddress.city;
      document.getElementById('editState').value = address.userFirstAddress.state;
      document.getElementById('editMobile').value = address.userFirstAddress.mobile;

      // Show the edit address modal
      var editAddressModal = new bootstrap.Modal(document.getElementById('editAddressModal'));
      editAddressModal.show();
    })
    .catch(error => {
      console.error('Error fetching address details:', error);
  
    });
}


function deleteAddress(addressId) {
  // Using SweetAlert for confirmation
  Swal.fire({
    title: 'Are you sure?',
    text: 'You won\'t be able to revert this!',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#d33',
    cancelButtonColor: '#3085d6',
    confirmButtonText: 'Yes, delete it!'
  }).then((result) => {
    if (result.isConfirmed) {
     
      fetch(`/deleteaddress/${addressId}`, {
        method: 'DELETE'
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        console.log('Address deleted successfully');
    
        Swal.fire(
          'Deleted!',
          'Your address has been deleted.',
          'success'
        ).then(() => {
      
          window.location.reload();
        });
      })
      .catch(error => {
        console.error('Error deleting address:', error);
       
      });
    }
  });
}






  </script>


