
<%- include('header')  -%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  
<style>
   

    .avatar-lg {
        height: 5rem;
        width: 5rem;
    }
    
    .font-size-18 {
        font-size: 18px!important;
    }
    
    .text-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    a {
        text-decoration: none!important;
    }
    
    .w-xl {
        min-width: 160px;
    }
    
    .card {
        margin-bottom: 24px;
        -webkit-box-shadow: 0 2px 3px #e4e8f0;
        box-shadow: 0 2px 3px #e4e8f0;
    }
    
    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #eff0f2;
        border-radius: 1rem;
    }
    </style>
</head>
<body>


  
  
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block  sidebar">
        <div class="position-sticky">
          <div style="margin-left: 50px; margin-top: 30px;">
            <a href="#" class="list-group-item list-group-item-action"><b>Manage My Account</b></a>
            <ul class="pl-4">
                <li><a href="/profile" class="list-group-item list-group-item-action" style="list-style: none;">Profile</a></li>
                <li><a href="/useraddress" class="list-group-item list-group-item-action">Address Book</a></li>
                <li><a href="/changepassword" class="list-group-item list-group-item-action">Change Password</a></li>
                <li><a href="/wallet" class="list-group-item list-group-item-action">Wallet</a></li>
                <li><a href="/coupons" class="list-group-item list-group-item-action">Coupons</a></li>
              </ul>
              <a href="" class="list-group-item list-group-item-action"><b>Orders</b></a><br>
              <ul class="pl-4">
                <li><a href="/orders" class="list-group-item list-group-item-action" style="list-style: none;"> My Orders</a></li>
                <li><a href="#" class="list-group-item list-group-item-action">Returns</a></li>
                <li><a href="#" class="list-group-item list-group-item-action">Cancellations</a></li>
              </ul>
              <a href="/cart" class="list-group-item list-group-item-action"><b>Cart</a></b><br>
              <a href="/wishlist" class="list-group-item list-group-item-action"><b>Wishlist</a></b><br>
              <a href="/" class="list-group-item list-group-item-action"><b>Logout</a></b><br>
            </div>
        </div>
      </nav>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="container">
            <div class="row">
                <div class="col-xl-8">
                  <% let totalPrice = 0; %>
                <% if (userCart && userCart.items.length > 0) { %>
                    <% userCart.items.forEach(item => { %>
                      <% let discountedPrice = item.productId.productDiscountedPrice || item.productId.categoryDiscountedPrice || item.productId.price; %>
        <% let itemPrice = discountedPrice * item.quantity; %>
        <% totalPrice += itemPrice; %>


                    
                    
                            <div class="card border shadow-none mb-3">
                                <div class="card-body">
                                    <div class="d-flex align-items-start border-bottom pb-3">
                                        <div class="me-4">
                                            <img src="uploads/<%= item.productId.photos[0] %>" alt="" class="avatar-lg rounded">
                                        </div>
                                        <div class="flex-grow-1 align-self-center overflow-hidden">
                                            <div>
                                                <h5 class="text-truncate font-size-18"><%= item.productId.name %></h5>
                                                <!-- Other details about the product -->
                                                <!-- ... -->
                                                <p>Color: <span class="fw-medium"><%= item.productId.color %></span></p>
                                                <% if (item.productId.stock === 0) { %>
                                                    <p class="mb-4 text-danger pt-2"><span class="text-danger font-weight-bold">Out of Stock</span></p>
                                                <% } else { %>
                                                    <p class="mb-4 text-success pt-2"><span class=" font-weight-bold" style="color: rgb(13, 161, 13);">In Stock</span></p>
                                                    <% }  %>
                                            </div>
                                        </div>
                                        <div class="flex-shrink-0 ms-2">
                                            <ul class="list-inline mb-0 font-size-16">
                                                <li class="list-inline-item">
                                                    <a href="#" class="text-muted px-1">
                                                        <i class="mdi mdi-trash-can-outline"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#" class="text-muted px-1">
                                                        <i class="fa fa-heart"></i>
                                                        <button class="btn btn-light border text-danger icon-hover-danger removeButton" data-product-id="<%= item.productId._id %>">
                                                            Remove
                                                        </button>
                                                        <!-- <a href="#" class="btn btn-light border text-danger icon-hover-danger">Remove</a> -->
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
    
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="mt-3">
                                                <p class="text-muted mb-2">Price</p>
                                               
                                                <h5 class="mb-0 mt-2">
                                                    <% if (item.productId.productDiscountedPrice && item.productId.productDiscountedPrice < item.productId.price) { %>
                                                        ₹<%= item.productId.productDiscountedPrice %>
                                                    <% } else if (item.productId.categoryDiscountedPrice && item.productId.categoryDiscountedPrice < item.productId.price) { %>
                                                        ₹<%= item.productId.categoryDiscountedPrice %>
                                                    <% } else { %>
                                                        ₹<%= item.productId.price %>
                                                    <% } %>
                                                </h5>
                                                
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="mt-3">
                                                <p class="text-muted mb-2">Quantity</p>
                                                <div class="d-inline-flex product-container" data-product-id="<%= item._id %>" data-stock="<%= item.stock %>">
                                                    <button class="btn btn-sm btn-outline-secondary decrement-btn">-</button>
                                                    <input class="form-control form-control-sm quantity-input" type="number" value="<%= item.quantity %>" min="1">
                                                    <button class="btn btn-sm btn-outline-secondary increment-btn">+</button>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mt-3">
                                                <div class="d-inline-flex product-container" data-product-id="<%= item._id %>">
                                                <p class="text-muted mb-2 total-price">Total</p>
                                                <h5 class="product-total-price" data-product-id="<%= item._id %>">
                                                    ₹<%= item.productId.productDiscountedPrice
                                                        ? item.productId.productDiscountedPrice * item.quantity
                                                        : (item.productId.categoryDiscountedPrice
                                                        ? item.productId.categoryDiscountedPrice * item.quantity
                                                        : item.productId.price * item.quantity) %>
                                                </h5>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    <% } else { %>
                        <p>No items in the cart</p>
                    <% } %>
                </div>
            <!-- </div>
        </div> -->

    


        <div class="col-lg-4">
            <!-- <div class="card mb-3 border shadow-0"> -->
             
      
        
        
          <div class="card shadow-0 border">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <p class="mb-2">Total price:</p>
                <p id="totalPriceElement" class="mb-2">₹<%= totalPrice %></p>
              </div>
              <!-- <div class="d-flex justify-content-between">
                <p class="mb-2">Discount:</p>
                <p  id="discountAmount" class="mb-2 text-success"></p>
              </div> -->
              <div class="d-flex justify-content-between">
                <!-- <p class="mb-2">TAX:</p> -->
                <!-- <p class="mb-2">$14.00</p> -->
              </div>
              <hr />
              <!-- <div class="d-flex justify-content-between">
                <p class="mb-2">Total price:</p>
                <p  id="finalPriceElement" class="mb-2 fw-bold">₹<></p>
              </div> -->
                  <div class="mt-3">
                      <a href="/checkout" class="btn btn-success w-100 shadow-0 mb-2" onclick="checkStockBeforeCheckout(); return false;">Proceed</a>
                      <a href="#" class="btn btn-light w-100 border mt-2">Back to shop</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</main>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</script>

<script>
    function checkStockBeforeCheckout() {
        let outOfStock = false;

     
        $('.card').each(function () {
            const stockElement = $(this).find('.mb-4'); 
            if (stockElement.hasClass('text-danger')) {
             
                Swal.fire({
                    icon: 'error',
                    title: 'Out of Stock',
                    text: 'One or more items in your cart are out of stock. Please remove them before proceeding to checkout.',
                });

            
                outOfStock = true;

               
                return false; 
            }
        });

     
        if (outOfStock) {
            return;
        }

      
        window.location.href = '/checkout';
    }
</script>

<script>

$('.removeButton').on('click', function(e) {
    e.preventDefault();
    const productId = $(this).data('product-id');
    const $clickedButton = $(this);

    $.ajax({
        url: '/removeFromCart',
        type: 'DELETE',
        data: { productId: productId },
        success: function(response) {
            if (response.message === 'Product removed from cart successfully') {
              
                $clickedButton.closest('.card').remove();
                
             
                Swal.fire({
          icon: 'success',
          title: 'Success',
          text: 'Item removed from cart successfully',
          willClose: function() {
                      
                        location.reload();
                    }
        });
            }  
        },
      
        error: function(error) {
            console.error('Error:', error);
          
        }
    });
});


</script>   
<script>
$(document).ready(function () {
    $('.increment-btn').on('click', function () {
        updateQuantityAndPrice($(this).closest('.product-container').data('product-id'), 1);
    });

    $('.decrement-btn').on('click', function () {
        updateQuantityAndPrice($(this).closest('.product-container').data('product-id'), -1);
    });

    function updateQuantityAndPrice(cartItemId, quantityChange) {
        const endpointUrl = '/updateQuantity';

        const updatePromise = new Promise((resolve, reject) => {
            $.ajax({
                type: 'POST',
                url: endpointUrl,
                contentType: 'application/json',
                data: JSON.stringify({ cartItemId, quantityChange }),
                success: function (data) {
                    const quantityInput = $(`.product-container[data-product-id='${cartItemId}'] .quantity-input`);
                    quantityInput.val(data.quantity);
                 

                    const productTotalPriceElement = $(`.product-container[data-product-id='${cartItemId}'] .product-total-price`);
                    productTotalPriceElement.text(`₹${data.newTotalPrice}`);
                 

                    resolve();
                },
                error: function (error) {
                    console.error('Error:', error);
                    reject(error);
                }
            });
        });

        updatePromise.then(() => recalculateTotalPrices());
    }

    function recalculateTotalPrices() {
        let newTotalPrice = 0;

        $('.product-total-price').each(function () {
            const productTotalPrice = parseFloat($(this).text().replace('₹', ''));
            newTotalPrice += productTotalPrice;
        });

        $('#totalPriceElement').text(`₹${newTotalPrice}`);
    }
});
  </script>
  

  


</body>

  <%-include('footer') -%>
