<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Checkout-Impress </title>
    <!-- Bootstrap 5 CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">


	<!-- Demo CSS (No need to include it into your project) -->
	<link rel="stylesheet" href="css/demo.css">
  
  </head>
  <body>
    <%- include("header") %>
 <header class="intro">
 <!-- <h1> Bootstrap 5 Checkout Form Example </h1>
 <p> A checkout form page with Bootstrap native input fields.</p> -->

 <!-- <div class="action">
 <a href="https://www.codehim.com/bootstrap/bootstrap-forms/bootstrap-5-checkout-form-page/" title="Back to download and tutorial page" class="btn back">Back to Tutorial</a>
 
 </div> -->
 
 </header>
  
 <main>
        <div class="container">
            <div class="py-5 text-center">
                <h2>Checkout</h2>
            </div>
            <form action="/placeorder" method="POST">
                <div class="row">
                  
                    <div class="col-md-8 order-md-1">
                        <div class="card mt-3">
                            <div class="card-header">
                                <h5 class="card-title">Shipping Address</h5>
                            </div>
                            <div class="container">
                              <% if (addresses && addresses.length > 0) { %>
                                <% addresses.forEach(address => { %>
                                    <div class="col-md-4">
                                        <div class="card mb-2" style="width: 18rem;">
                                            <div class="card-body " style="height: 220px;">
                                              <div class="card-body d-flex flex-column justify-content-between" style="height: 220px;">
                                               
                                                <label for="<%= address._id %>" class="d-flex align-items-center">
                                                    <input type="radio" id="<%= address._id %>" name="selectedAddress" value="<%= address._id %>">
                                                    <p class="card-title mb-0 ms-2">Deliver to this address</p>
                                                </label>
                                                
                                                <h6 class="card-title "><%= address.name %></h5>
                                                <h6 class="card-subtitle mb-2 "><%= address.street %></h6>
                                                <h6 class="card-subtitle mb-2 "><%= address.city %></h6>
                                                <h6 class="card-subtitle mb-2"><%= address.state %></h6>
                                                <h6 class="card-subtitle mb-2 "><%= address.pincode %></h6>
                                                <h6 class="card-subtitle mb-3 "><%= address.mobile %></h6>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                            
                                <% }) %>
                            <% } else { %>
                                <p>No addresses found.</p>
                            <% } %>
                            <div class="col">
                              <div class="card justify-content-center align-items-center" style="width: 18rem;">
                                  <div class="card-body" style="height: 220px;">
                                      <i class="fa fa-plus" id="addAddressBtn" aria-hidden="true" style="font-size: 100px;"></i><br>
                                      <p class="card-link justify-content-center align-items-center" id="addAddressBtn">Add Address</p>
                                  </div>
                            </div>
                        </div>
                        <div id="newAddressForm" style="display: none;">
                       
                          <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="name" class="form-label">Name:</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="address" class="form-label">Address Line 1:</label>
                                <input type="text" class="form-control" id="address" name="addressline" placeholder="">
                            </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-12">
                              <label for="pincode" class="form-label">Pin Code</label>
                              <input type="text" class="form-control" id="pincode" name="pincode" placeholder="Enter your pincode">
                          </div>
                      </div>
                        <div class="row mb-3">
                          <div class="col-md-12">
                              <label for="state" class="form-label">Street</label>
                              <input type="text" class="form-control" id="street" name="street" placeholder="Enter Street name">
                          </div>
                      </div>
                        
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="city" class="form-label">City</label>
                                <input type="text" class="form-control" id="city" name="city" placeholder="Enter City">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="state" class="form-label">State</label>
                                <input type="text" class="form-control" id="state" name="state" placeholder="Enter State">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="mobile" class="form-label">Mobile</label>
                                <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Enter your mobile number">
                            </div>
                        </div>
                      
                        
                      </div>
                            </div>
                            </div>
                        
                        <hr class="mb-4">
                        <h4 class="mb-3">Payment</h4>
                        
                          <div class="custom-control custom-radio">
                            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" value="Online Payment" checked required>
                            <label class="custom-control-label" for="credit">Online Payment</label>
                          </div>
                          <div class="custom-control custom-radio">
                            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" value="Cash On Delivery" required>
                            <label class="custom-control-label" for="debit">Cash On Delivery</label>
                          </div>
                          <div class="custom-control custom-radio">
                            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" value="Wallet" required>
                            <label class="custom-control-label" for="debit">Wallet</label>
                          </div>
                    </div>

                   
                    <div class="col-md-4 order-md-2 mb-4">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">Your cart</span>
                           
                            <% let totalPrice = 0; %>
    <% userCart.items.forEach(item => { %>
        <% let itemPrice = item.productId.price * item.quantity; %>
        <% totalPrice += itemPrice; %>
    <% }); %>
                            <span class="badge badge-secondary badge-pill">3</span>
                        </h4>
                        <ul class="list-group mb-3">
                          <% userCart.items.forEach(item => { %>
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div class="d-flex flex-column">
                                    <div>
                                        <h6 class="my-0"><%= item.productId.name %></h6>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted">Quantity: <%= item.quantity %></small>
                                        <span class="text-muted">₹ <%= item.productId.price * item.quantity %></span>
                                    </div>
                                </div>
                            </li>
                        <% }); %>
                    
                    <li class="list-group-item d-flex justify-content-between bg-light" style="margin-top: 10px;">
                      <div class="text-success">
                        <h6 class="my-0">Promo code</h6>
                        <!-- <small>EXAMPLECODE</small> -->
                      </div>
                      <!-- <span class="text-success">-$5</span> -->
                    </li>
                    <li class="list-group-item d-flex justify-content-between" style="margin-top: 10px;">
                      <span>Total (USD)</span>
                      <strong>₹ <%= totalPrice  %></strong>
                    </li>
                        </ul>
                        
                        <form class="card p-2">
                        
                        
                    </div>
                </div>
            
                <div class="row">
                  <div class="col-md-4 offset-md-8">
                      <hr class="mb-4">
                      <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
                  </div>
              </div>
            </form>
        </div>
    </main>
 
</form>
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>
<%- include("footer") %>
<script>
  $(document).ready(function() {
    $('#addAddressBtn').click(function() {
        $('#newAddressForm').toggle();
    });

    $('#saveAddressBtn').click(function() {
      
        const street = $('#newStreet').val();
        const city = $('#newCity').val();
       
        $('#newAddressForm').hide();
    });
  });
</script>