<%- include('header')-%>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">



<% for (let i = 0; i < banners.length && i < 2; i++) { %>
    <div class="banner-item <%= i === 0 ? 'active' : '' %>">
        <a href="/products/<%= banners[i].category.name %>" class="d-block w-100">
            <img src="/uploads/<%= banners[i].image %>" alt="Banner <%= i + 1 %>" class="img-fluid" style="object-fit: cover; height: 400px; width: 100%; margin-top: 10px;" >
        </a>
    </div>
<% } %>


  


  
  <div class="container mt-4 text-center">
    <h1>Explore Our Categories</h1>
    <p style=" font-family: 'Brush Script MT', cursive; font-size: 27px;">Rich Colors, Playful Designs & Mesmerizing Embellishments to<br> Amp Up Your Look</p>
</div>


<div class="category-container">
    <% categories.forEach(category => { %>
      <% if (category.name !== 'impresskids' ) { %>
        <div class="custom-category">
          <div class="category-item">
            <img src="/uploads/<%= category.image %>" alt="Category 1" class="img-fluid">
            <% if (category.offer) { %>
              <div class="category-offer">
                <p><%= category.offer %> % OFF</p>
              </div>
            <% } %>
            <p style="font-size: 30px;"><%= category.name %></p>
            <a href="/products/<%= category.name %>" class="btn btn-success mt-2">Shop Now</a>
          </div>
        </div>
      <% } %>
    <% }); %>
</div>

 	
   
  
	
</div >
<% for (let i = 2; i < banners.length ; i++) { %>
    <div class="banner-item <%= i === 0 ? 'active' : '' %>">
        <a href="/products/<%= banners[i].category.name %>" class="d-block w-100">
            <img src="/uploads/<%= banners[i].image %>" alt="Banner <%= i + 1 %>" class="img-fluid" style="object-fit: cover; height: 400px; width: 100%; margin-top: 10px;" >
        </a>
    </div>
<% } %>
<div style="text-align: center;" id="impresskidssection">
    <hr>
    <a href="/products/impresskids" style="text-decoration: none; color: inherit;">
        <% const displayProducts = impressKidsProducts.slice(0, 4); %>
        <% let active = true; %>
        <h3>Impress kids</h3>
    </a>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <% displayProducts.forEach((product, index) => { %>
            <div class="col">
                <div class="card h-100">
                    <a href="/products/view/<%= product._id %>">
                        <img src="/uploads/<%= product.photos[0] %>" class="card-img-top img-fluid" alt="Main Photo" style="object-fit: cover; height: 300px; width: 100%;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><%= product.name %></h5>
                        <% if (product.productDiscountedPrice && product.productDiscountedPrice < product.price) { %>
                            <div class="price">
                             <span style="text-decoration: line-through; color: #e65151;">₹ <%= product.price %></span>
                           ₹ <%= product.productDiscountedPrice %>
                              </div>
                              <% } else if (product.categoryDiscountedPrice && product.categoryDiscountedPrice < product.price) { %>
                                 <div class="price">
                                     <span style="text-decoration: line-through; color: #cf3a3a;">₹ <%= product.price %></span>
                                     ₹ <%= product.categoryDiscountedPrice %>
                                 </div>
                               <% } else { %>
                             <div class="price">₹ <%= product.price %></div>
                             <% } %>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>









    <!-- Controls for the carousel -->
    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button> -->


<!-- index.ejs -->



<!-- new arrivals -->

</div style="text-align: center; padding-top:10px">
<hr>
 <!-- <a href='/getproducts/newarrivals' style="text-decoration: none; color: inherit;"> -->
    <h3 style="text-align: center;">New arrivals</h3>
<div style="height: 30px;"></div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <% newarrivals.filter(product => product.isNewArrival === true).forEach(product => { %>
            <div class="col">
                <div class="card h-100">
                    
                    <a href="/products/view/<%= product._id %>" class="text-decoration-none">
                        <img src="/uploads/<%= product.photos[0] %>" alt="<%= product.name %> Main Photo" class="card-img-top" style="object-fit: cover; height: 300px;">
                        <div class="card-body">
                            <h5 class="card-title" style="color: black;"><%= product.name %></h5>
                            <% if (product.productDiscountedPrice && product.productDiscountedPrice < product.price) { %>
                                <div class="price">
                                 <span style="text-decoration: line-through; color: #e65151;">₹ <%= product.price %></span>
                               ₹ <%= product.productDiscountedPrice %>
                                  </div>
                                  <% } else if (product.categoryDiscountedPrice && product.categoryDiscountedPrice < product.price) { %>
                                     <div class="price">
                                         <span style="text-decoration: line-through; color: #cf3a3a;">₹ <%= product.price %></span>
                                         ₹ <%= product.categoryDiscountedPrice %>
                                     </div>
                                   <% } else { %>
                                 <div class="price">₹ <%= product.price %></div>
                                 <% } %>
                        </div>
                    </a>
                </div>
            </div>
        <% }); %>
    </div>
</div>

    
    
        

<hr>
<!-- Carousel wrapper -->
<!-- testimonial -->
<!-- 
<section class="home-testimonial">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center testimonial-pos">
            <div class="col-md-12 pt-4 d-flex justify-content-center">
                <h3>Testimonials</h3>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <h2>Explore our customers experience</h2>
            </div>
        </div>
        <section class="home-testimonial-bottom">
            <div class="container testimonial-inner">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4 style-3">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">&ldquo; Thankyou Impress team. The most beautiful 
									dress I have ever seen. Cloth quality was good and also
									stitching perfection was soo great.&rdquo;</div>
                                <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="/images/jyothis.jpg" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Jyothis Sojan</div>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 style-3">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">&ldquo;
									The products offered on this website are very unique. I Love my outfit!! The stitching is so perfect and worth the price. Perfect place to purchase Ethnic clothes.&rdquo;</div>
                                <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="/images/divya.jpg" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Divya Mohan</div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 style-3">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">&ldquo;Great quality product, I got more than what I expected. Delivery of the Sarees to me was really fast. Truly impressed, keep it up, youre simply the best and definitely looking forward to more shoppings from you.&rdquo;</div>
                                <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/4946604/pexels-photo-4946604.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Varsha k V</div>
                                
                            </div>
                        </div>
                    </div>
                </div>
			
        </section>
</section>
</div> -->



<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>


 

<%- include('footer') -%>

