<%- include('header')-%>


<div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <% for (let i = 0; i < banners.length; i++) { %>
            <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                <img src="/uploads/<%= banners[i].image %>" class="d-block w-100" alt="Slide <%= i + 1 %>" style="object-fit: cover"></img>
            </div>
        <% } %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

  


  
  <div class="container mt-4 text-center">
    <h1>Explore Our Categories</h1>
    <p style=" font-family: 'Brush Script MT', cursive; font-size: 27px;">Rich Colors, Playful Designs & Mesmerizing Embellishments to<br> Amp Up Your Look</p>
</div>


<div class="category-container">
    <% categories.forEach(category => { %>
      <% if (category.name !== 'impresskids' ) { %>
        <div class="custom-category">
          <div class="category-item">
            <img src="/uploads/<%= category.image %>" alt="Category 1" class="img-fluid">
            <% if (category.offer) { %>
              <div class="category-offer">
                <p><%= category.offer %> % OFF</p>
              </div>
            <% } %>
            <p style="font-size: 30px;"><%= category.name %></p>
            <a href="/products/<%= category.name %>" class="btn btn-success mt-2">Shop Now</a>
          </div>
        </div>
      <% } %>
    <% }); %>
</div>

 	
   
  
	
</div >
<div style="text-align: center;" id="impresskidssection">
<hr>
<a href="/products/impresskids" style="text-decoration: none; color: inherit;">
    <% const displayProducts = impressKidsProducts.slice(0, 4); %>
        <% let active = true; %>
    <h3>Impress kids</h3>
</a>
</div>

<div id="carouselExampleControls2" class="carousel slide container" data-bs-ride="carousel">
    <div class="carousel-inner">
        
        <div class="carousel-item active">
            <div class="row">
            <% displayProducts.forEach((product, index) => { %>
                <div class="col-md-3">
                    <div class="card card-body">
                        <a href="/products/view/<%= product._id %>">
                        
                            <img src="/uploads/<%= product.photos[0] %>" class="product-image" alt="Main Photo">
                        </a>
                        <div class="carousel-caption d-none d-md-block">
                            <!-- Caption or additional details can be added here -->
                        </div>
                    </div>
                </div>
            <% }); %>
            </div>
        </div>
    </div>
    <!-- Controls for the carousel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- index.ejs -->



<!-- new arrivals -->

</div style="text-align: center; padding-top:10px">
<hr> <a href="/products/newarrivals" style="text-decoration: none; color: inherit;">
 <h3 style="text-align: center;">New arrivals</h3></a>
</div>
<div style="height: 30px;"></div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <% newarrivals.filter(product => product.isNewArrival === true).forEach(product => { %>
            <div class="col">
                <a href="/products/view/<%= product._id %>">
                    <img src="/uploads/<%= product.photos[0] %>" alt="<%= product.name %> Main Photo" class="img-fluid">
                    <div class="caption">
                        <h5 style="color: black; margin-left: 20px;"><%= product.name %></h5>
                        <p style="color: black; margin-left: 20px;">₹<%= product.price %></p>
                    </div>
                </a>
            </div>
        <% }); %>
    </div>
</div>
        

<hr>
<!-- Carousel wrapper -->
<!-- testimonial -->

<!-- <section class="home-testimonial">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center testimonial-pos">
            <div class="col-md-12 pt-4 d-flex justify-content-center">
                <h3>Testimonials</h3>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <h2>Explore our customers experience</h2>
            </div>
        </div>
        <section class="home-testimonial-bottom">
            <div class="container testimonial-inner">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4 style-3">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">&ldquo; Thankyou Impress team. The most beautiful 
									dress I have ever seen. Cloth quality was good and also
									stitching perfection was soo great.&rdquo;</div>
                                <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="/images/jyothis.jpg" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Jyothis Sojan</div>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 style-3">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">&ldquo;
									The products offered on this website are very unique. I Love my outfit!! The stitching is so perfect and worth the price. Perfect place to purchase Ethnic clothes.&rdquo;</div>
                                <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="/images/divya.jpg" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Divya Mohan</div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 style-3">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">&ldquo;Great quality product, I got more than what I expected. Delivery of the Sarees to me was really fast. Truly impressed, keep it up, youre simply the best and definitely looking forward to more shoppings from you.&rdquo;</div>
                                <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/4946604/pexels-photo-4946604.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Varsha k V</div>
                                
                            </div>
                        </div>
                    </div>
                </div>
			
        </section>
</section>
</div> -->
<section class="home-testimonial">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center testimonial-pos">
            <div class="col-md-12 pt-4 d-flex justify-content-center">
                <h3>Testimonials</h3>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <h2>Explore Our Customers Experience</h2>
            </div>
        </div>
        <section class="home-testimonial-bottom">
            <div class="container testimonial-inner">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4 style-3">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">&ldquo;Thankyou Impress team. The most beautiful 
									dress I have ever seen. Cloth quality was good and also
									stitching perfection was soo great.&rdquo;</div>
                                <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="/images/jyothis.jpg" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Jyothis Sojan</div>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 style-3">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">&ldquo;The products offered on this website are very unique. I Love my outfit!! The stitching is so perfect and worth the price. Perfect place to purchase Ethnic clothes.&rdquo;</div>
                                <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="/images/divya.jpg" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Divya Mohan</div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 style-3">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">&ldquo;Great quality product, I got more than what I expected. Delivery of the Sarees to me was really fast. Truly impressed, keep it up, youre simply the best and definitely looking forward to more shoppings from you.&rdquo;</div>
                                <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="/images/varsha.jpg" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Varsha K V</div>
                                
                            </div>
                        </div>
                    </div>
                </div>
        </section>
</section>




<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>


 

<%- include('footer') -%>

