<%- include('header')  -%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    
  </style>
</head>
<body>


  <% include('header') %>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block  sidebar">
        <div class="position-sticky">
          <div style="margin-left: 50px; margin-top: 30px;">
            <a href="#" class="list-group-item list-group-item-action"><b>Manage My Account</b></a>
            <ul class="pl-4">
              <li><a href="/profile" class="list-group-item list-group-item-action" style="list-style: none;">Profile</a></li>
              <li><a href="/address" class="list-group-item list-group-item-action">Address Book</a></li>
              <li><a href="/changepassword" class="list-group-item list-group-item-action">Change Password</a></li>
              <li><a href="/wallet" class="list-group-item list-group-item-action">Wallet</a></li>
              <li><a href="/coupons" class="list-group-item list-group-item-action">Coupons</a></li>
            </ul>
            <a href="" class="list-group-item list-group-item-action"><b>Orders</b></a><br>
            <ul class="pl-4">
              <li><a href="/orders" class="list-group-item list-group-item-action" style="list-style: none;"> My Orders</a></li>
              <li><a href="/returns" class="list-group-item list-group-item-action">Returns</a></li>
              <li><a href="/cancellations" class="list-group-item list-group-item-action">Cancellations</a></li>
            </ul>
            <a href="/cart" class="list-group-item list-group-item-action"><b>Cart</a></b><br>
            <a href="/wishlist" class="list-group-item list-group-item-action"><b>Wishlist</a></b><br>
            <a href="/logout" class="list-group-item list-group-item-action"><b>Logout</a></b><br>
          </div>
        </div>
      </nav>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="col-md-9">
            <div class="osahan-account-page-right shadow bg-white p-4 h-100">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                        <h4 class="font-weight-bold mt-0 mb-4">Orders</h4>
                        
                        <% order.forEach(orderItem => { %>
                            <div class="bg-white card mb-4 order-list shadow-sm">
                                <div class="gold-members p-4">
                                    <span class="float-end text-info">Ordered On: <%= orderItem.orderDate.toLocaleDateString() %> <i class="icofont-check-circled text-success"></i></span>
                                    <h6 class="mb-2">Products</h6>
                                    <% orderItem.products.forEach(product => { %>
                                        <div class="media mb-3">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <img src="/uploads/<%= product.productId.photos[0] %>" style="height: 100px; width: 100px;">
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="media-body">
                                                        <p><%= product.productId.name %></p>
                                                        <h6 class="mb-1">Quantity: <%= product.quantity %></h6>
                                                        <p class="text-dark">Total Price: ₹<%= product.price * product.quantity %></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% }) %>
                                    <p class="text-gray mb-3">Payment Method: <%= orderItem.paymentMethod %></p>
                                    <span class="badge rounded-pill bg-info"><%= orderItem.status %></span>

                                    <div class="float-end">
                                        <a class="btn btn-sm btn-primary" href="/orderdetails/<%= orderItem._id %>" class="text-decoration-none text-dark"><i class="icofont-refresh"></i> View Details</a>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    
    
    
    
    </div>
  </div>
  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>




