<%- include('header')-%>

<div class="container-fluid">
    <div class="row">
     
        <div class="col-lg-2 col-md-3 col-sm-12">
            <div class="sidebar" style="margin-top: 30px;">
                <h5>Filter by Size</h5>
                <ul>
                  <li>
                    <label>
                   
                        <input type="checkbox" name="size[]" value="S"> S

                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="size[]" value="M"> M
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="size[]" value="L"> L
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="size[]" value="XL"> XL
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="size[]" value="XXL"> XXL
                    </label>
                </li>
                </ul>
            </div>

            <div class="sidebar-section">
                <h5>Filter by Color</h5>
                <ul>
                  <li>
                    <label>
                        <input type="checkbox" name="productColor[]" value="white"> White
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="productColor[]" value="red"> Red
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="productColor[]" value="black"> Black
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="productColor[]" value="pink"> Pink
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="productColor[]" value="yellow"> Yellow
                    </label>
                </li>
                </ul>
            </div>

<!--            
            <div class="sidebar-section">
                <h5>Filter by Availability</h5>
                <ul>
                  <li>
                    <label>
                        <input type="checkbox" name="availability" value="Available"> Available
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="availability" value="Out of stock"> Out of stock
                    </label>
                </li>
                </ul>
            </div> -->

         
            <div class="sidebar-section">
                <h5>Sort by</h5>
                <select id="sortOptions" name="sortOptions">
                    <option>Select</option>
                  <option value="priceAsc">Price: Low to High</option>
                  <option value="priceDesc">Price: High to Low</option>
                 
              </select>
            </div>
            <div class="sidebar-section" style="margin-top: 30px;">
              <button onclick="applyFilters()">Apply</button>
          </div>
        </div>
        

       
        <div class="col-lg-10 col-md-9 col-sm-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="container bg-white" id="products-container">
                        <u><h2>Products in <%= category %></h2></u>
                        <div class="row">
                            <% if (products.length > 0) { %>
                                <% products.forEach((product, index) => { %>
                                
                                    <div class="col-lg-4 col-md-4 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">
                                        <div class="product">
                                            <a href="/products/view/<%= product._id %>">
                                                <img src="/uploads/<%= product.photos[0] %>" alt="<%= product.name %> Main Photo" class="product-image" height="auto" width="500px" style="object-fit: contain;">
                                                <ul class="d-flex align-items-center justify-content-center list-unstyled icons"></a>
                                                    <li class="icon mx-3"><span class="fa fa-heart"></span></li>
                                                    <li class="icon">
                                                        <span class="fa fa-shopping-cart addToCartBtn" data-productId="<%= product._id %>"></span>
                                                    </li>
                                                </ul>
                                            
                                        </div>
                                        
                                        <div class="title pt-3 pb-1" style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 1.3em;"><%= product.name %></div>
                                        <div class="d-flex align-content-center justify-content-center"></div>
                                        <div class="price">₹ <%= product.price.toFixed(2) %></div>
                                    </div>
                                <% }); %>
                            <% } else { %>
                                <p>No products found in this category.</p>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <% for (let i = 1; i <= totalPages; i++) { %>
                        <li class="page-item">
                            <a class="page-link" href="/products/<%= category %>?page=<%= i %>"><%= i %></a>
                        </li>
                    <% } %>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
      $('.addToCartBtn').on('click', function() {
        const productId = $(this).data('productId'); 
        
        $.ajax({
          type: 'POST',
          url: '/addtocart/' + productId, 
          contentType: 'application/json',
          data: JSON.stringify({
            quantity: 1 
          }),
          success: function(response) {
            console.log('Item added to cart successfully');
            Swal.fire({
              icon: 'success',
              title: 'Success',
              text: 'Item added to cart successfully'
            });
          },
          error: function(error) {
            console.error('Failed to add item to cart', error);
          }
        });
      });
    });
    </script>
    


<script>
   function applyFilters() {

    const selectedSizes = Array.from(document.querySelectorAll('input[name="size[]"]:checked')).map(checkbox => checkbox.value);
    const selectedColors = Array.from(document.querySelectorAll('input[name="productColor[]"]:checked')).map(checkbox => checkbox.value);
    const selectedSortOption = document.getElementById('sortOptions').value;


    if (selectedSizes.length === 0 && selectedColors.length === 0 && selectedSortOption === 'Select') {
       
        return;
    }


    const queryParams = new URLSearchParams(window.location.search);
    if (selectedSizes.length > 0) {
        queryParams.set('size', selectedSizes.join(','));
    }
    if (selectedColors.length > 0) {
        queryParams.set('productColor', selectedColors.join(','));
    }
    if (selectedSortOption !== 'Select') {
        queryParams.set('sortOptions', selectedSortOption);
    }

 
    window.location.href = '/products/<%= category %>' + '?' + queryParams.toString();
}


</script>


<%- include('footer')-%>
